.highlight {
  background-color: aqua;
}

.navbar-style {
  background-color: rgb(0, 105, 44) !important;
}

.green-highlight {
  color: #008000;
  font-size: 40px;
}

.red-highlight {
  color: #ff0000;
  font-size: 25px;
}

.hand-icon {
  cursor: pointer;
}
